<!DOCTYPE html>
<html lang="fr">
<head>
	<!-- Fonts -->
	<link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="..//static//css/app_header.css">

</head>

<body>
    <div id="wrap">

<header id="header">
		<div class="row navbar-fixed-top">
		<div>
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li>
						<h1>
							<a href="#welcome"><img itemprop="image" alt="logo" title="logo" src="/img/logo2.png"></a>
						</h1>
					</li>
					<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
					<li class="toggle-topbar menu-icon">
						<a href="#">
							<span></span>
						</a>
					</li>
				</ul>
				<!--             <div class="navbar-collapse collapse" id="footer-body"> -->
				<section id="navbar-content" class="top-bar-section">
					<!-- Right Nav Section -->
					<ul class="left">
						<li class="text-left show-for-large-up">
							<p>Un beau titre</p>
						</li>
					</ul>
					<ul class="nav secondary-nav right">
						<li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
							<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
						  </svg><a href="#blog">Homepage</a></li>
						<li class="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						  </svg><a href="#infoCompte">My informations</a></li>
						<li><a href="#home">My workspace</a></li>

						<li><a onclick="logout()">Log out</a></li>
					</ul>
				</section>
			</nav>
		</div>
	</div>
	 <div class="row">
		<p>TITRE2</p>
	</div>
<div class="alert alert-info">
		<div class="col-md-offset-1">
			Un beau message
		</div>
	</div>
</header>
	<div class="container">
		maintenant passer à la configuration de Gunicorn.

Avant de continuer, nous devrions vérifier que Gunicorn peut servir correctement l’application.

Nous pouvons le faire en lui passant simplement le nom de notre point d’entrée. Celui-ci est construit comme le nom du module (moins l’extension .py), plus le nom de l’appelable dans l’application. Dans notre cas, il s’agit de wsgi:app.

Nous spécifierons également l’interface et le port à utiliser pour que l’application soit lancée sur une interface accessible au public :

cd ~/myproject
gunicorn --bind 0.0.0.0:5000 wsgi:app
Vous devriez voir une sortie similaire à la suivante :

Output
[2020-05-20 14:13:00 +0000] [46419] [INFO] Starting gunicorn 20.0.4
[2020-05-20 14:13:00 +0000] [46419] [INFO] Listening at: http://0.0.0.0:5000 (46419)
[2020-05-20 14:13:00 +0000] [46419] [INFO] Using worker: sync
[2020-05-20 14:13:00 +0000] [46421] [INFO] Booting worker with pid: 46421
Visitez à nouveau dans votre navigateur web l’adresse IP de votre serveur avec :5000 ajouté à la fin :

http://your_server_ip:5000
Vous devriez voir la sortie de votre application :

Exemple d'application Flask

Lorsque vous avez la confirmation qu’il fonctionne correctement, appuyez sur CTRL-C dans la fenêtre de votre terminal.

Nous en avons maintenant fini avec notre environnement virtuel, nous pouvons donc le désactiver :

deactivate
Toutes les commandes Python utiliseront à nouveau l’environnement Python du système.

Ensuite, créons le fichier d’unité de service systemd. La création d’un fichier d’unité systemd permettra au système d’init d’Ubuntu de lancer automatiquement Gunicorn et de servir l’application Flask à chaque démarrage du serveur.
<p>
	Créez un fichier d’unité se terminant par .service dans le répertoire /etc/system/system pour commencer
	
	sudo nano /etc/systemd/system/myproject.service
	Dans celui-ci, nous commencerons par la section [Unit], qui est utilisée pour spécifier les métadonnées et les dépendances. Ajoutons ici une description de notre service et disons au système d’initialisation de ne le lancer qu’une fois que l’objectif de mise en réseau a été atteint :
	</p>
	/etc/systemd/system/myproject.service
	[Unit]
	Description=Gunicorn instance to serve myproject
	After=network.target
	Ensuite, ouvrons la section [Service]. Celle-ci indiquera l’utilisateur et le groupe sous lequel nous voulons que le processus s’exécute. Donnons à notre compte utilisateur habituel la propriété du processus puisqu’il possède tous les fichiers pertinents. Donnons également la propriété du groupe au groupe www-data afin que Nginx puisse facilement communiquer avec les processus Gunicorn.  N’oubliez pas de remplacer le nom d’utilisateur ici par votre nom d’utilisateur :
	
	/etc/systemd/system/myproject.service
	[Unit]
	<p>
		Créez un fichier d’unité se terminant par .service dans le répertoire /etc/system/system pour commencer
		
		sudo nano /etc/systemd/system/myproject.service
		Dans celui-ci, nous commencerons par la section [Unit], qui est utilisée pour spécifier les métadonnées et les dépendances. Ajoutons ici une description de notre service et disons au système d’initialisation de ne le lancer qu’une fois que l’objectif de mise en réseau a été atteint :
		</p>
		/etc/systemd/system/myproject.service
		[Unit]
		Description=Gunicorn instance to serve myproject
		After=network.target
		Ensuite, ouvrons la section [Service]. Celle-ci indiquera l’utilisateur et le groupe sous lequel nous voulons que le processus s’exécute. Donnons à notre compte utilisateur habituel la propriété du processus puisqu’il possède tous les fichiers pertinents. Donnons également la propriété du groupe au groupe www-data afin que Nginx puisse facilement communiquer avec les processus Gunicorn.  N’oubliez pas de remplacer le nom d’utilisateur ici par votre nom d’utilisateur :
		
		/etc/systemd/system/myproject.service
		[Unit]
		<p>
			Créez un fichier d’unité se terminant par .service dans le répertoire /etc/system/system pour commencer
			
			sudo nano /etc/systemd/system/myproject.service
			Dans celui-ci, nous commencerons par la section [Unit], qui est utilisée pour spécifier les métadonnées et les dépendances. Ajoutons ici une description de notre service et disons au système d’initialisation de ne le lancer qu’une fois que l’objectif de mise en réseau a été atteint :
			</p>
			/etc/systemd/system/myproject.service
			[Unit]
			Description=Gunicorn instance to serve myproject
			After=network.target
			Ensuite, ouvrons la section [Service]. Celle-ci indiquera l’utilisateur et le groupe sous lequel nous voulons que le processus s’exécute. Donnons à notre compte utilisateur habituel la propriété du processus puisqu’il possède tous les fichiers pertinents. Donnons également la propriété du groupe au groupe www-data afin que Nginx puisse facilement communiquer avec les processus Gunicorn.  N’oubliez pas de remplacer le nom d’utilisateur ici par votre nom d’utilisateur :
			
			/etc/systemd/system/myproject.service
			[Unit]
			<p>
				Créez un fichier d’unité se terminant par .service dans le répertoire /etc/system/system pour commencer
				
				sudo nano /etc/systemd/system/myproject.service
				Dans celui-ci, nous commencerons par la section [Unit], qui est utilisée pour spécifier les métadonnées et les dépendances. Ajoutons ici une description de notre service et disons au système d’initialisation de ne le lancer qu’une fois que l’objectif de mise en réseau a été atteint :
				</p>
				/etc/systemd/system/myproject.service
				[Unit]
				Description=Gunicorn instance to serve myproject
				After=network.target
				Ensuite, ouvrons la section [Service]. Celle-ci indiquera l’utilisateur et le groupe sous lequel nous voulons que le processus s’exécute. Donnons à notre compte utilisateur habituel la propriété du processus puisqu’il possède tous les fichiers pertinents. Donnons également la propriété du groupe au groupe www-data afin que Nginx puisse facilement communiquer avec les processus Gunicorn.  N’oubliez pas de remplacer le nom d’utilisateur ici par votre nom d’utilisateur :
				
				/etc/systemd/system/myproject.service
				[Unit]
				<p>
					Créez un fichier d’unité se terminant par .service dans le répertoire /etc/system/system pour commencer
					
					sudo nano /etc/systemd/system/myproject.service
					Dans celui-ci, nous commencerons par la section [Unit], qui est utilisée pour spécifier les métadonnées et les dépendances. Ajoutons ici une description de notre service et disons au système d’initialisation de ne le lancer qu’une fois que l’objectif de mise en réseau a été atteint :
					</p>
					/etc/systemd/system/myproject.service
					[Unit]
					Description=Gunicorn instance to serve myproject
					After=network.target
					Ensuite, ouvrons la section [Service]. Celle-ci indiquera l’utilisateur et le groupe sous lequel nous voulons que le processus s’exécute. Donnons à notre compte utilisateur habituel la propriété du processus puisqu’il possède tous les fichiers pertinents. Donnons également la propriété du groupe au groupe www-data afin que Nginx puisse facilement communiquer avec les processus Gunicorn.  N’oubliez pas de remplacer le nom d’utilisateur ici par votre nom d’utilisateur :
					
					/etc/systemd/system/myproject.service
					[Unit]
																</div>


</div>
</body>

<script type="text/javascript">
	function logout() {
		document.location.href = "{{url('auth/logout')}}";
	};
</script>
</html>